body {
  color: #4f5959;
  padding: 48px 100px;
}

h1 {
  margin-bottom: 48px;
  color: #273849;
}

h2 {
  margin-bottom: 20px;
  line-height: 1;
  color: #42b983;
}

section {
  min-height: 400px;
  padding: 20px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
}

section+section {
  margin-top: 40px;
}

ul {
  list-style: none;
  padding: 0;
}